.home{
    height: 100vh;

}

.home__gridContainer{
    display: grid;
    grid-template-columns: 24% 1fr 30%;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main widgets";
}

.home__sidebar{
    grid-area: sidebar;
}

.home__feed{
    grid-area: main;
}

.home__widgets{
    grid-area: widgets;
}

@media screen and (max-width: 900px){
    .home__gridContainer{
        grid-template-columns: 65px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidebar main";
    }
}

